In [1]:
# 1. Import necess libraries
import pandas as pd

In [3]:
#import data
weight_height_data=pd.read_csv('weight-height.csv')
weight_height_data.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [5]:
# feature engineering 
# here weight in pounds change to kg
# 3. Understanding data
weight_height_data.shape

(10000, 3)

In [6]:
weight_height_data.isna().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [7]:
weight_height_data.dtypes

Gender     object
Height    float64
Weight    float64
dtype: object